.header__navigation {
    background-color: #202020;
    border: none;
    padding: 0;
    width: 40px;
    height: 43px;
}

.header__navigation:hover {
    cursor: pointer;
    opacity: .5;
    transition: .15s;
}

@media screen and (min-width: 768px) {
    .header__navigation {
        width: 44px;
        height: 44px;
    }
}