.portfolio__link {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 30px;
    line-height: 91px;
    letter-spacing: -0.04em;
    color: #FFF;
    text-decoration: none;
}