.auth__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 80%;
    max-width: 260px;
    height: 44px;
    border: 0;
    border-bottom: 1px solid #424242;
    margin: 0 0 5px;
    padding: 0;
    background-color: #202020;
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    outline: 0;
}

.auth__input:invalid {
    color: #EE3465;
}

.auth__input:focus {
    border-bottom-color: #FFF;
    transition: .15s;
}

@media screen and (min-width: 768px) {
    .auth__input {
        width: 100%;
        max-width: 396px;
        height: 32px;
    }
}