.popup__account {
    display: block;
    background: #313131;
    border-radius: 20px;
    width: 100px;
    height: 32px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
}