.search__button {
    width: 80px;
    height: 44px;
    background: #4285F4;
    border-radius: 5px;
    padding: 0;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
}

.search__button:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .search__button {
        width: 100px;
        height: 52px;
    }
}

@media screen and (min-width: 1280px) {
    .search__button {
        font-size: 14px;
        line-height: 18px;
    }
}