.promo__nav-item_techs {
    width: 84px;
    height: 57px;
    border-radius: 6px;
}

@media screen and (min-width: 1280px) {
    .promo__nav-item_techs {
        width: 90px;
        height: 60px;
    }
}