.lead__content-container_progress-bar {
    padding: 5px;
    height: 67px;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 768px) {
    .lead__content-container_progress-bar {
        padding: 35px 0 0;
        height: 67px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__content-container_progress-bar {
        padding: 48px 0 0;
    }
}