.lead__item-tittle_about-me {
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .lead__item-tittle_about-me { 
        padding-bottom: 16px;
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__item-tittle_about-me { 
        padding-bottom: 18px;
        font-size: 50px;
        line-height: 58px;
    }
}