.footer__item {
    display: inline-block;
    padding: 20px 20px 20px 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
}

.footer__item:last-child {
    display: inline-block;
    padding: 20px 0;
}