.header__button {
    width: 54px;
    height: 26px;
    background-color: #3DDC84;
    color: #000000;
    border: none;
    border-radius: 3px;
    margin-left: 14px;
    line-height: 26px;
    text-decoration-line: none;
}

@media screen and (min-width: 768px){
    .header__button {
        width: 76px;
        height: 32px;
        margin-left: 30px;
        line-height: 32px;
    }
}