.promo__navbar_techs {
    flex-wrap: wrap;
    gap: 10px;
    width: 178px;
    padding-bottom: 60px;
    justify-content: flex-start;
}

@media screen and (min-width: 768px) {
    .promo__navbar_techs {
        width: 90%;
        justify-content: center;
    }
}