.lead__tittle-container {
    width: calc(100% - 36px);
    min-height: 73px;
    text-align: left;
    padding-top: 31px;
    margin: 0 auto;
    border-bottom: 1px solid #DADADA;
}

@media screen and (min-width: 768px) {
    .lead__tittle-container {
        width: calc(100% - 100px);
        padding-top: 70px;
        max-height: 70px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__tittle-container {
        width: calc(100% - 140px);
        padding-top: 87px;
        max-height: 73px;
    }
}