.header__link_log-on {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin-right: 16px;
    height: auto;
    display: none;
}


@media screen and (min-width: 1280px) {
    .header__link_log-on {
        display: block;
    }
}