.footer {
    width: calc(100% - 140px);
    max-width: 1140px;
    max-height: 172px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}