.card__like {
    -webkit-appearance: none;
    background-image: url(../../../images/like.svg);
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-color: #222;
    border: none;
}

.card__like:hover {
    cursor: pointer;
}