.auth__group {
    margin: 0 auto;
    max-width: 260px;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #424242;
}

.auth__group:last-child {
    border: none;
}

@media screen and (min-width: 768px) {
    .auth__group {
        max-width: 410px;
    }
}