.card__image {
    object-fit: cover;

    width: 100%;
    height: 168px;
    transition: .15s;
}

.card__image:hover {
    opacity: .5;
    transition: .15s;
}

@media screen and (min-width: 768px) {
    .card__image {
        height: 190px;
    }
}

@media screen and (min-width: 1280px) {
    .card__image {
        height: 203px;
    }
}